<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="https://www.k15t.com">
        <img src="/images/logo_k15t.png" width="250" height="80" alt="">
    </a>

    <form class="form-inline my-2 my-lg-0">
        <a href="/registration.html" class="btn btn-outline-secondary  mr-sm-2" role="button" aria-pressed="true">Register</a>
        <a href="/participants.html" class="btn btn-outline-primary my-2 my-sm-0" role="button" aria-pressed="true">Lists
            of participants</a>
    </form>
</nav>
